@media (max-width: 1199px) {

    h2::before, h2::after {
        display: none;
    }

    .container {
        max-width: 860px;
    }

    .header {
        &__middle {
            
            margin-left: 525px;
        }
    }

    .music {
        &__slider-slider {
            // width: 900px;

            // .slick-slide .slick-current .slick-active {
            //     width: 900px;
            // }
    
            .slick-list {
                max-width: 860px;
            }
        }
    }

    .biography {
        &__image-text {
            left: 77px;
        }
    }

    .contacts {

        &__inner {
            
        }

        &__columns {
            flex-direction: column-reverse;
            align-items: center;
        }

        &__image {
            width: 100%;
            max-height: 1200px;
        }

        &__text {
            padding: 0;
            width: 100%;
            position: relative;
            margin-bottom: -120px;
        }

        &__name {
            margin-bottom: 40px;
        }

        

         &__form {
             position: static;
        }

        &__footer {
            position: static;
            position: absolute;
            bottom: -1030px;
            left: 210px;
        }

        &__socials {
            position: absolute;
            bottom: -1100px;
            left: 80px;
        }

      
    }

    .form {
        input {
            width: 400px;
        }
    }
}