@media (max-width: 1399px) {
    .container {
        max-width: 1160px;
    }

    .header {
        &__middle {
            
            margin-left: 860px;
        }
    }

    .music {

        &__slider-heart, &__slider-you {
            display: none;
        }

        &__slider-item {
            margin: 0 80px;
        }

    }
}