@media (max-width: 1399.98px) {
    
    .wrapper {
            }
    
    .container {
        

    }

    .header {
       
    }

    .music {

        &__container {
            padding-top: 120px;
            
            h2 {
                position: static;
            }
        }

        &__inner {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }

        &__slider-heart, &__slider-you {
            display: none;
        }

        &__slider-item {
            // margin: 0 80px;
        }

        &__slider-slider {
            // text-align: center;
    
            .slick-list {
                max-width: 1140px;
                // margin: 0 auto;
            }
        }

    }

    .biography {

        &__inner {
            h2 {
                top: 50px;
            }
        }

        &__columns {
            flex-direction: column-reverse;
            align-items: center;
        }

        &__image {
            width: 100%;
        }

        &__image-text {
            left: 200px;
        }

        &__image-slider {
            text-align: center;
        }

        &__text {
            width: 100%;
            padding-top: 60px;
            padding-right: 0px;
        }

        .buttons {
            &__socials-item {
                margin-right: 40px;
            }
        }
        
    }

    .contacts {
        padding: 0;
        background-image: url('../images/contacts-1373.png');
        background-repeat: no-repeat;
        background-position: 50% 440px;
        min-height: 2000px;
        
        &__inner {

        }
        &__text {
            width: 100%;
            padding: 0px;
            margin: 0;
            align-items: center;
            

            h2::before {
                left: -100px;
            }

        }

        &__image {
            display: none;
        }

        &__management {
            margin-bottom: 10px;
        }

        &__name {
            margin-bottom: 40px;
        }

        &__form {
            
            
        }

        &__footer {
            padding-top: 1040px;
            
        }

        &__footer-corywright {
            margin: 0 20px;
        }

        &__footer-policy {
            margin: 0 20px;
        }


        &__socials {
           
        }

        &__socials-item {
            margin: 0 20px;
        }


    }
  
}