@media (max-width: 1692px) {
    .container {
        
    }

    h2 {
        font-size: 76px;
    }

    .header {
       
    }


    .music {

        &__container {
            h2 {
                font-size: 76px;
            }
        }

        &__slider-heart, &__slider-you {
            padding: 0;
        }

    }

    .biography {

        &__inner {
            padding-bottom: 0;
            h2 {
                &::after {
                    padding-left: 50px;
                }
            }
        }

        &__text {

            width: 45%;
            padding-right: 100px;
            h2 {
                margin: 38px 0 20px;
        }
    }

        &__text-line {
            
            margin: 10px 0 40px;
        }

        &__image {
            width: 55%;
        }

        &__image-slider {

            img {
                
            }

            .slick-dots {
                bottom: -40px;
        }
        
    }

    .buttons {

        &__socials {
            margin-right: 10px;
        }

        &__socials-item {
            margin-right: 10px;
        }

        &__more {
                a {
                    padding: 20px 90px 20px 30px;
                }
            }
        }
    }
    .contacts {
        &__text {
            padding-left: 100px;
            justify-content: flex-start;
            h2 {
                margin-bottom: 0;

                &::before {
                    left: -140px;
                }
            }
        }

        &__image {
            max-height: 920px;
            img {
                max-width: 980px;
            }
        }
    }

    .form {
        input {
            
        }

        button {
            width: 180px;
        }
    }
}