@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Thin.woff2"), url("../fonts/Montserrat-Thin.woff");
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.woff2"), url("../fonts/Montserrat-Regular.woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-SemiBold.woff2"), url("../fonts/Montserrat-SemiBold.woff");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Bold.woff2"), url("../fonts/Montserrat-Bold.woff");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}


/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    
    height:100%;
    width:100%;
    font-size:100%;
    line-height:1.5;
    font-size:18px;
    -ms-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    font-family: 'Montserrat', sans-serif;
    color: #2A2A2A;
}
body._lock {
    overflow: hidden;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: underline;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body {
    color: #000;   
}

a {
    color: #fff;
    font-size: 29px;
    text-transform: uppercase;
    transition: all 0.6s ease 0s;

    &:hover {
        font-weight: 700;
    }
}

h2 {
    font-size: 101px;
    line-height: 123px;
    text-transform: uppercase;
    font-weight: 600;
    color: #284B6E;
}

h3 {
    font-size: 42px;
    line-height: 53px;
    color: #fff;
    text-transform: uppercase;
}

.wrapper {
    // width: 100%;
}
.container {
    max-width: 1660px;
    margin: 0 auto;
}

.header {
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // z-index: 10;

    &__inner {
        min-height: 220px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
       
    }

    &__middle {
        display: flex;
        max-width: 1360px;
        justify-content: flex-end;
    }

    &__lang {
        display: flex;
        align-items: center;
        
    }

    &__lang-ru {
        a {
            font-size: 12px;
            line-height: 15px;
            font-weight: 700;
            
        }
        
    }

    &__lang-arrow {
    }

    &__lang-en {
        a {
            font-size: 12px;
            line-height: 15px;
        }
    }

    &__right {
    }
}

.hero {
    
    &__inner {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
    }

    &__socials {
        margin-top: 184px;
        
        
    }

    &__socials-item {
        // margin-bottom: 38px;
    }

    
    &__links {
        display: flex;
        justify-content: space-between;
        margin: 200px 0 64px;
    }

    &__links-bio {
    }

    &__links-conacts {
    }
}

.music {

    &__inner {
        padding-bottom: 130px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 65px;
    }

    &__header-slash {
        font-size: 101px;
        line-height: 123px;
        font-weight: 100;
        color: #fff;
    }

    &__header-track {
    }

    &__header-name {
        font-size: 20px;
        line-height: 24px;
        color: #284B6E;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__header-flipping {
        display: flex;
        font-size: 15px;
        line-height: 19px;
        cursor: pointer;

        p {
            font-size: 15px;
            line-height: 19px;
            color: #fff;
            text-transform: uppercase;
        }
    }

    &__slider {
        display: flex;
        min-width: 0;
        justify-content: space-between;
        align-items: center;
        position: relative;
        
    }

    &__slider-heart {
        font-size: 42px;
        color: #fff;
        width: .7em; 
        width: 1ch; 
        text-align: center; 
        word-wrap: break-word;
        padding-left: 64px;
        opacity: 58%;
        text-transform: uppercase;

        span {
            font-size: 38px;
        }
    }

    &__slider-slider {
        min-width: 0;

        .slick-list {
            overflow: hidden;
            width: 1197px;
            height: 673px;
        }
        
        .slick-track {
            display: flex;
        }
    }

    &__slider-item {
        width: 1197px;
        height: 673px;
    }

    &__slider-you {
        font-size: 42px;
        color: #fff;
        width: .7em; 
        width: 1ch; 
        text-align: center; 
        word-wrap: break-word;
        text-transform: uppercase;
        padding-right: 64px;
        opacity: 58%;
    }
}



// .slick-arrow {
//     position: absolute;
//     top: 0px;
//     left: 1170px;
// }

.biography {

    &__inner {
        padding-bottom: 100px;
    }

    &__columns {
        display: flex;
    }

    &__text {

        h2 {
            margin-bottom: 65px;
        }

        padding-right: 146px;

        p {
            font-size: 14px;
            line-height: 18px;
            padding-bottom: 22px;
        }
    }

    &__text-line {
        height: 2px;
        background-color: #fff;
        margin: 73px 0 78px;
    }

    &__text-buttons {
    }

    &__image {
        min-width: 0;
        position: relative;
    }

    &__image-text {
        position: absolute;
        top: 40px;
        left: 53px;
        font-size: 101px;
        line-height: 123px;
        color: #fff;
        font-weight: 100;
        z-index: 2;
    }

    &__image-slider {

        .slick-list {
            overflow: hidden;
        }
        
        .slick-track {
            display: flex;
        }

        .slick-dots {
            position: absolute;
            bottom: -55px;
            list-style: none;
            display: block;
            text-align: center;
            padding: 0;
            margin: 0;
            width: 100%;
            li {
                position: relative;
                display: inline-block;
                height: 20px;
                width: 20px;
                margin: 0 5px;
                padding: 0;
                cursor: pointer;
                margin-right: 33px;
                button {
                    border: 0;
                    background: transparent;
                    border-radius: 50%;
                    border: 1px solid #fff;
                    display: block;
                    height: 15px;
                    width: 15px;
                    outline: none;
                    line-height: 0px;
                    font-size: 0px;
                    color: transparent;
                    padding: 5px;
                    cursor: pointer;
                    &:hover, &:focus {
                        outline: none;
                        &:before {
                            opacity: 1;
                        }
                    }
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: "\2022";
                        width: 15px;
                        height: 15px;
                        font-family: "slick";
                        font-size: 6px;
                        line-height: 20px;
                        text-align: center;
                        color: black;
                        opacity: 0.25;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                    }
                }
                &.slick-active button:before {
                    background: #fff;
                    border-radius: 50%;
                    color: black;
                    opacity: 0.75;
                }
            }
        }

    }
}

.buttons {
    display: flex;
    justify-content: space-between;

    &__socials {
        display: flex;
    }

    &__socials-item {
    }

    &__more {
    }
}





